header{
    background-color: lightblue;
    text-align: center;
    margin: 0px 2px;
    padding: 0px auto;
}

h2 {
    margin-top: 0rem;
}

.first {
    text-align: center; 
    padding-top: 1rem;
    margin-top: -1rem;
    color: brown;
    border: 10px solid brown;
}

main {
    background-color: yellow;
}
nav {
    display: inline-block;
}

nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;  
    margin-right: 10px;
    padding-bottom: 20px;
}

.top10 {
    background-color: green;
    color: aqua;
    padding: 1px;
    display: block;
    text-align: center;
    margin-top: 0px;
}
.top10 ol {
    width: 300px;
    margin: auto;
    margin-top: -10px;
}
.top10 li {
    padding-top: 10px;
    text-align: left;
}

.help {
    border: solid;
    text-align: left;
    padding-left: 0px;
    display: inline-block;
    margin-left: -660px;
    font-weight: 800;
}

h3 {
   padding-left: 70px;
   margin-top: 1px;
}

.first ul {
    text-align: left;
    margin-top: -13px;
}

.help2 {
    border: solid;
    text-align: left;
    padding-left: 0px;
    display: inline-block;
    margin-left: -610px;
    font-weight: 800;
}





