@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

h1{
    font-family: 'Rubik Dirt', cursive;
    color: darkblue
}

header{
    background-color: lightblue;
    text-align: center;
    margin: 0px 2px;
    padding: 0px auto;
}

h2 {
    margin-top: 0rem;
}

.first {
    display: flex;
    text-align: center; 
    padding-top: 1rem;
    margin-top: -1rem;
    color: brown;
    border: 10px solid brown
}

main {
    background-color: yellow;
}
nav {
    display: inline-block;
}

nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;  
    margin-right: 10px;
    padding-bottom: 20px;
}

.top10 {
    background-color: green;
    color: aqua;
    padding: 1px;
    display: flex;
    text-align: center;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
}

.coding {
    margin-left: 150px;
}

.top10 ol {
    width: 300px;
    margin: auto;
    margin-top: -10px;
}
.top10 li {
    padding-top: 10px;
    text-align: left;
}

.help {
    text-align: left;
    padding-left: 0px;
    display: block;
    margin-left: 40px;
    font-weight: 800;
}

h3 {
   padding-left: 70px;
   margin-top: 1px;
}

.first ul {
    text-align: left;
    margin-top: -13px;
}

.help2 {
    text-align: left;
    padding-left: 0px;
    display: block;
    margin-left: 40px;
    font-weight: 800;
    padding-right: 0px;
}

.image-container {
    float: left;
    margin: auto;
}

.image-containerleft img {
    float: left;
}

.image-container img {
    float: left;
    width: 300px;
}


